<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofn.fdzem.mapper.SedimentMonitoringMapper">


    <!--分页+条件查询-->
    <select id="selectListByQuery" resultType="com.sofn.fdzem.model.SedimentMonitoring" parameterType="java.lang.String">
        select
        <include refid="Base_column_list"/>
        from tb_sediment_monitoring
        where  monitoring_point_id = #{monitoringPointId}
    </select>
    <!--删除-->
    <delete id="removeById" parameterType="java.lang.String">
        delete from tb_sediment_monitoring where monitoring_point_id = #{monitoringPointId}
    </delete>
<!--更新-->
    <update id="update" parameterType="com.sofn.fdzem.model.SedimentMonitoring">
        update tb_sediment_monitoring set
        petroleum = #{petroleum},cu = #{cu},
        zn = #{zn},pb = #{pb},cd = #{cd},
        hg = #{hg},
        as_a = #{asA},cr = #{cr}
        where id=#{id}
    </update>

    <!--添加-->
    <insert id="insert" parameterType="com.sofn.fdzem.model.SedimentMonitoring">
        insert into tb_sediment_monitoring
        (<include refid="Base_column_list"/>)
         values
        (#{id},#{monitoringPointId},#{petroleum},#{cu},#{zn},#{pb},#{cd},#{hg},#{asA},#{cr})
    </insert>

    <sql id="Base_column_list">
        id,monitoring_point_id,petroleum,cu,zn,pb,cd,hg,as_a,cr
    </sql>


</mapper>
