<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.agpjyz.mapper.FacilitiesFilingMapper">

    <select id="listByParams" parameterType="java.util.Map" resultType="com.sofn.agpjyz.model.FacilitiesFiling">
        select
        *
        from FACILITIES_FILING
        <where>
            1 = 1
            <if test="protectId != null and protectId != ''">
                and PROTECT_ID = #{protectId}
            </if>
            <if test="facilities != null and facilities != ''">
                and FACILITIES like '%' || #{facilities} || '%'
            </if>
            <if test="endTime != null and endTime != ''">
                AND INPUTER_TIME &lt;= #{endTime}
            </if>
            <if test="startTime != null and startTime != ''">
                AND INPUTER_TIME &gt;= #{startTime}
            </if>
        </where>
        order by INPUTER_TIME desc
    </select>

</mapper>
