<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.fdpi.mapper.CustomsSpecMapper" >
    <delete id="delBycustomsId">
    delete from CUSTOMS_SPEC where CUSTOMS_ID=#{customsId}
    </delete>
</mapper>