<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.fdpi.mapper.FileManageMapper" >
<!--    <resultMap id="BaseResultMap" type="com.sofn.fdpi.model.ForfeiProcess">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="ffId" column="ff_id"/>-->
<!--        <result property="person" column="person"/>-->
<!--        <result property="content" column="content"/>-->
<!--        <result property="status" column="status"/>-->
<!--        <result property="advice" column="advice"/>-->
<!--        <result property="conTime" column="con_time"/>-->
<!--        <result property="createTime" column="create_time"/>-->
<!--        <result property="createUserId" column="create_user_id"/>-->
<!--        <result property="updateTime" column="update_time"/>-->
<!--        <result property="updateUserId" column="update_user_id"/>-->
<!--        <result property="delFlag" column="del_flag"/>-->
<!--    </resultMap>-->
</mapper>