<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.agsjdm.mapper.WaterQualityMapper">

    <select id="listByParams" resultType="com.sofn.agsjdm.model.WaterQuality">
        select * from WATER_QUALITY
        <where>
            <if test="wetlandId != null and wetlandId != ''">
                and WETLAND_ID = #{wetlandId}
            </if>
            <if test="waterDemand != null and waterDemand != ''  or waterDemand==0">
                and WATER_DEMAND::text like '%' || #{waterDemand} || '%'
            </if>
            <if test="endTime != null and endTime != ''">
                AND OPERATOR_TIME &lt;= #{endTime}
            </if>
            <if test="startTime != null and startTime != ''">
                AND OPERATOR_TIME &gt;= #{startTime}
            </if>
            <if test="province != null and province != ''">
                and PROVINCE = #{province}
            </if>
            <if test="city != null and city != ''">
                and CITY = #{city}
            </if>
            <if test="county != null and county != ''">
                and COUNTY = #{county}
            </if>
        </where>
        order by OPERATOR_TIME desc
    </select>
</mapper>
